
<div class="flex flex-col text-[2rem] items-center justify-center font-[Sora] bg-gradient-to-bl from-orange-400 to-amber-200 min-h-screen m-0 mt-auto w-full box-border">
<div class="bg-white p-5 rounded-[5px] font-[Manrope] w-[700px]">
  <h2 class="font-bold text-center">Sign up</h2>    
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
    <div class="flex flex-col items-center justify-center flex-wrap text-wrap w-[650px] bg-white p-2">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="flex flex-col items-center justify-center">
      <div class="field flex flex-col items-start">
        <%= f.label "Username:", class: "text-[1.5rem]" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "border-[2px] rounded-[6px]" %>
      </div>

      <div class="field flex flex-col items-start">
        <%= f.label "Email:", class: "text-[1.5rem]" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-[2px] rounded-[4px]" %>
      </div>

      <div class="field flex flex-col items-start">
        <%= f.label "Password:", class: "text-[1.5rem]" %>
        <% if @minimum_password_length %>
        <em>(8 characters minimum and must include: 1 uppercase, 1 lowercase, 1 digit and 1 special character)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "border-[2px] rounded-[4px]" %>
      </div>

      <div class="field flex flex-col items-start">
        <%= f.label "Password Confirmation:", class: "text-[1.5rem]" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border-[2px] rounded-[4px]" %>
      </div>

      <div class="flex flex-col gap-1 items-center justify-center">
        <div class="actions">
          <%= f.submit "Sign up", class: "underline hover:cursor-pointer text-[1.8rem] font-bold hover:text-[#5486e6]" %>
        </div>
        <div>
          <%= render "devise/shared/links" %>
        </div>
      </>
    </div>
  <% end %>
</div>
</div>
