
  <p>
    <b><%= f.label "Task title" %></b><br/>
    <%= f.text_field :task_title %>
  </p>
    <p>
    <b><%= f.label "Enter task here" %></b><br/>
    <%= f.text_field :task_body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>