<div class="flex flex-col m-1 w-[410px] bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
  <div class="flex flex-col w-full">
    <div class="flex items-center justify-between bg-[#f8d300] gap-3 border-[2px] border-black rounded-[5px]" className="categories-wrapper">
      <h3 class="p-3"><%= category.title %></h3> 
      <div class="flex justify-between">
        <div class="p-3"><%= link_to "Edit", edit_category_path(category.id) %></div>
        <div class="p-3"><%= button_to "x", category_path(category.id), data:{ turbo_method: :delete,   turbo_confirm: 'Are you sure?' }, method: :delete, class: "hover:underline hover:cursor-pointer font-bold" %></div>
      </div>
    </div>
    <div className="tasks-wrapper">
    <%= render partial: 'tasks/task', collection: category.tasks, locals: { category_id: category.id } %>
    <%= render partial: 'tasks/new', locals: { category_id: category.id } %>
    </div>
  </div>
</div>